.cart {
  max-width: 700px;
  margin: 50px auto;
  padding: 20px;
  background-color: var(--primary-color);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h2 {
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 10px 0;
  border-bottom: 1px solid var(--secondary-color);
  color: var(--text-color);
}

button {
  margin-top: 10px;
}
